.textos {
    font-weight: bold!important;
}

.imagem {
    background-image: url(https://i.imgur.com/AS1bon2.gif);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}

.button-login {
    color: white !important;
    background-color: black !important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: 0.1cm!important;
    padding: 10px 30px;
    transition: 0.5s!important;
}

.button-login:hover {
    background-color: #017761!important;
    letter-spacing: 0.20cm!important;
    box-shadow: 0 0 35px #05977c!important;
}