@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.back {
    background: linear-gradient(36deg, #0D0D0D 8%, #02735E 89%)!important;
}

.font {
    font-family: 'Roboto', sans-serif;
}

.titulo {
    font-weight: bold;
}

.cursor {
    cursor: pointer;
    color: white;
}

.text-decorator-none {
    text-decoration: none;
}