@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.back {
    background: linear-gradient(36deg, #0D0D0D 8%, #02735E 89%);
}

.titulo {
    color: white;
    font-weight: bold;
}

.font {
    color: whitesmoke !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}

.background {
    background-image: url(../home/assets/img/aurora-boreal.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    color: white !important;
    background-color: transparent !important;
    font-weight: bold!important;
    border-color: #02735E!important;
    border-radius: 20px!important;
    text-decoration: none!important;
    transition: 0.5s!important;
    letter-spacing: 3px!important;
}

.button:hover {
    background-color: #0D0D0D !important;
    letter-spacing: 0.15cm!important;
    box-shadow: 0 0 35px #05977c!important;
}

.post {
    background-color: white!important;
}

.text-decorator {
    text-decoration: none!important;
}