.text-decorator-none {
    text-decoration: none;
}

.button-atualizar {
    color: white !important;
    background-color: black !important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: 0.1cm!important;
    padding: 10px 30px;
    transition: 0.5s!important;
}

.button-atualizar:hover {
    background-color: #017761!important;
    letter-spacing: 0.13cm!important;
    box-shadow: 0 0 35px #05977c!important;
}

.button-deletar {
    color: white !important;
    background-color: #a5000e!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: 0.1cm!important;
    padding: 10px 30px;
    transition: 0.5s!important;
}

.button-deletar:hover {
    background-color: #b90324!important;
    letter-spacing: 0.13cm!important;
    box-shadow: 0 0 35px #b90324!important
}